.hamster-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamster-container img {
    height: 20em;
    border-radius: 2em;
}

.hamster {
    margin: 5em 2em;
}
