.App {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
        to top,
        #bae21a,
        #00db7c,
        #00c6d1,
        #00a6ff,
        #127aeb
    );
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.App-header a {
    color: white;
    text-decoration: none;
    margin: 2em;
}

.App-header a.active {
    text-decoration: underline;
}

.App-main {
    text-align: center;
}
